body {
  margin: 20px;
  background-color: cadetblue;
}
.dynamic-data {
  background-color: lightgrey;
}
.hoverable-tr:hover {
  background-color: pink !important;
}
.action-th {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  border: 1.5px solid black;
}
